<p>Nombre:{{name}}, {{surname}}. ID:{{getId()}}</p>
<p>Edad:{{age+1}}</p>
<p>Es mayor de edad? -> {{age>18 ? "Si" : "no"}}</p>
<p>Puesto:{{puesto.value}}</p>

<label>Puesto:</label>
<input type="text" #puesto>
<!--<input type="button" value="Dale" (click)="getPuesto(puesto.value)"/>--> 
<!--esa función no hace nada y solo es para que la página recargue dinámicamente y actualice el valor de empresa por lo que si ponemos null tb valdria-->
<input type="button" value="Dale" (click)=null/>
<br><br>
<!--#escritoLibre: Aquí, se define una referencia local llamada "escritoLibre". Esta referencia se puede utilizar para acceder al elemento del DOM desde el código del componente.-->
<!--(keyup)="0": Esto es un evento que se dispara cuando se suelta una tecla después de haberla presionado en el campo de entrada de texto. El evento está vinculado a una expresión "0", que básicamente no hace nada (es una forma poco convencional de manejar el evento). -->
<input type="text" #escritoLibre (keyup)="0" [disabled]="disabledProperty" placeholder="sin funcion asociada">
<p id="parrafoGrande">{{escritoLibre.value}}</p>

<!--Parecido a lo anterior, Lo cambio, utilizo una funcion para manejar el evento keyup-->
<input type="text" #escritoLibre2 (keyup)="onEscritoLibreKeyUp($event)" [disabled]="disabledProperty">

<p id="parrafoGrande">{{escritoLibreValue}}</p>



<br><br>

<h2>Registrado</h2>
<input type="checkbox" id="registro" [checked]="userRegistradoProperty"/>

{{cambioRegistroUsuario()}}

<br><br>
<h2>Probando event binding, dale click a ver que pasa</h2>
<input type="checkbox" id="registro2" [checked]="eventBinding" (click)="ventanaEmergente()"/>

{{cambioEventBiending()}}

<!--Utilizo otro checkbox para probar interpolacion, property binding y event binding-->
<p class="parr2">{{textoRegistro}}</p> <!--Interpolacion-->
<p class="parr2">Desea registrar un empleado?</p>
<!--Cuando haga click en el checkbox el textoRegistro cambiara-->
Si<input type="checkbox" id="registro3" [checked]="disabledProperty" (click)="registrarEmpleado()"/> <!--En este caso el checked=false, por eso siempre aparece no clickeado-->

<br>
************************************************************
<br>
<p>{{textoCiudad}}</p>
Ciudades:
<input type="radio" name="ciudad" id="madrid" value="Madrid" [checked]="disabledProperty" (click)="cambiaCiudad($event)"> <!--Le pasamos por parametro el objeto de tipo event-->
<label for="madrid">Madrid</label>
<input type="radio" name="ciudad" id="valencia" value="Valencia" [checked]="disabledProperty" (click)="cambiaCiudad($event)">
<label for="valencia">Valencia</label>
<input type="radio" name="ciudad" id="aranjuez" value="Aranjuez" [checked]="disabledProperty" (click)="cambiaCiudad($event)">
<label for="aranjuez">Aranjuez</label>
<br><br>
*************************************************************
<br><br>
<!--Two Way Binding-->
Introduce la empresa deseada: <input type="text" (input)="cambiaEmpresa($event)"> <!--Con esta unica linea, el flujo va del template al html-->
<!--para hacerlo bidireccional entra en juego la directiva ngModel y [()]-->
<br>
Introduce la segunda empresa deseada, usando two way binding: <input type="text" [(ngModel)]="empresa2"> <!--Al usar [(ngModel)] tengo que importar en el archivo app.module.ts FormsModule-->
<br>
<p id="empresaTexto1">La empresa1 es: {{empresa1}}</p>
<p id="empresaTexto2">La empresa2 es: {{empresa2}}</p>